extends layout

block content
    h1= heading
    a(href='../') Search Again?


//- ul
    for flight in flights
    li
    if article.title
        a(href=`${article.link}` target='_blank')= `${article.title}`
    else
        a(href=`${article.link}` target='_blank')= `${article.link}`